<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/articles">Articles <span class="sr-only">(current)</span></a></li>
        <li><a href="#/users/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup">Sign Up</a></li>
        <li><a href="#/signin">Sign In</a></li>
        <li><a href="#/articles">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container articlesContainer">
  <h2>All News Articles</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Choose an article to read</div>
      <!-- <div class="input-group"> --> 
        <!-- <span class="input-group-addon" id="basic-addon1">Topic</span> -->
        <h5>You can filter the articles by topic</h5>
        <h5>You can sort the articles by date, their popularity and how controversial they are</h5>
        <h5>The font is green when the article is supported, red when it is undermined<h5>
        <input type="text" class="form-control" placeholder="Search by Tag" aria-describedby="basic-addon1" ng-model="search.tags">
      <!-- </div> -->
  </div>
  <table class="table table-hover">
    <tr>
      <th><a href="" ng-click="order('date')">Date</a></th>
      <th>Source</th>
      <th>Tags</th>
      <th><a href="" ng-click="order('-popularityIdx')">Popularity</a></th>
      <th><a href="" ng-click="order('-controversy.idx')">Controversy</a></th>
      <!-- <th><a href="" ng-click="order('-controversy.valence')">Valence</a></th> -->
    </tr>
    <tr ng-repeat="article in articles | filter:search:strict" ng-class="{supported: article.controversy.valence === 1, undermined: article.controversy.valence === -1}">
      <td>{{ article.date }}</td>
      <td><a ng-href="#/document/{{article._id}}">{{ article.journal }}</a></td>
      <td>{{ article.tags }}</td>
      <td>{{ article.popularityIdx }}</td>
      <td>{{ article.controversy.idx }}</td>
      <!-- <td>{{ article.controversy.valence }}</td> -->
    </tr>
  </table>
</div>