<div class="container">
  
  <div class="subcontainer">
    <nav class="navigation">
      <ul>
        <li>
          <a class="selected" href="#/articles">Articles</a>
        </li>
        <li>
          <a href="#/users/profile">Profile</a>
        </li>
        <li>
          <a href="#/signin">Sign In</a>
        </li>
        <li>
          <a href="#/signup">Sign Up</a>
        </li>
        <li>
          <a href="#/articles">Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="subcontainer">

    <h1>Articles</h1>
    <!-- add default chronological order -->
    <label>Tags: <input ng-model="search.tags">
    </label><br>
    <!-- <label>Date: <input ng-model="search.date">
    </label><br> -->
    
    <table class="profileArticlesTable">
      <tr>
        <th><a href="" ng-click="order('date')">Date</a></th>
        <th>Source</th>
        <th>Tags</th>
        <th><a href="" ng-click="order('-popularityIdx')">Popularity</a></th>
        <th><a href="" ng-click="order('-controversy.idx')">Controversy</a></th>
        <!-- <th>Date</th>
        <th>Source</th>
        <th>Tags</th>
        <th>Popularity</th>
        <th>Controversy</th>
        <th>Valence</th> -->
      </tr>
      <tr ng-repeat="article in articles | filter:search:strict">
        <td>{{ article.date }}</td>
        <td><a ng-href="#/document/{{article._id}}">{{ article.journal }}</a></td>
        <td>{{ article.tags }}</td>
        <td>{{ article.popularityIdx }}</td>
        <td>{{ article.controversy.idx }}</td>
        <!-- <td>{{ article.controversy.valence }}</td> -->
      </tr>
    </table>

  </div>
  
</div>