<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/articles">Articles</span></a></li>
        <li><a href="#/users/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup">Sign Up</a></li>
        <li><a href="#/signin">Sign In</a></li>
        <li><a href="#/articles">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container documentNav">
  <ul class="nav nav-pills">
    <li role="presentation" class="active" ng-click="toggleCommentArticle()"><a>Share your Opinion</a></li>
    <li role="presentation" class="active" ng-click="toggleRelatedArticles()"><a>View Related Articles</a></li>
  </ul>
</div>

<div class="container relatedArticlesContainer" ng-show="enableViewRelatedArticles">
  <div class="panel panel-default">
    <div class="panel-heading">Related Articles</div>
    <div class="panel-body">
      <h5>You can sort the articles by date, popularity and controversy</h5>
      <h5>The font is green when on average people find the article to be well-supported and red when they find it to be unsupported<h5>
      <!-- <h5>You can view the sources that support the article or the ones that undermine it</h5> -->
      <div class="input-group"> 
        <span class="input-group-addon">Supporting Articles
          <input type="checkbox" aria-label="supporting articles" ng-model="supChecked" ng-disabled="underChecked" ng-click="includeSupporting()">
        </span>
        <span class="input-group-addon">Undermining Articles
          <input type="checkbox" aria-label="undermining articles" ng-model="underChecked" ng-disabled="supChecked" ng-click="includeUndermining()">
        </span>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <tr>
      <!-- <th>Relationship</th> -->
      <th><a href="" ng-click="order('date')">Date</a></th>
      <th>Related Articles</th>
      <th>Tags</th>
      <th><a href="" ng-click="order('-popularityIdx')">Popularity (1-10)</a></th>
      <th><a href="" ng-click="order('-controversy.idx')">Controversy (0-10)</a></th>
      <!-- <th><a href="" ng-click="order('-controversy.valence')">Valence</a></th> -->
    </tr>
    <tr ng-repeat="article in relatedArticles | filter:search:strict" ng-class="{supported: article.controversy.valence === 1, undermined: article.controversy.valence === -1}">
      <!-- <td>{{ article.relationship }}</td> -->
      <td>{{ article.date }}</td>
      <td><a ng-href="#/document/{{article._id}}">{{ article.journal }}</a></td>
      <td>{{ article.tags }}</td>
      <td>{{ article.popularityIdx }}</td>
      <td>{{ article.controversy.idx }}</td>
      <!-- <td>{{ article.controversy.valence }}</td> -->
    </tr>
  </table>
</div>

<div class="container commentContainer" ng-show="enableComment">
  <div class="panel panel-default">
    <div class="panel-heading">Share your Opinion and/or provide a related Source</div>
    <div class="panel-body">
      <form class="input-group commentArticle" name="commentArticleForm" ng-submit="commentArticle()">
        <select class="form-control commentSelect" name="selectOpinion" ng-model="comment.opinion">
          <option value="supported">This article is well-supported</option>
          <option value="notSupported">This article is unsupported</option>
        </select>
        <input type="text" class="form-control commentSelect" placeholder="Related article url" aria-describedby="basic-addon1" ng-model="comment.source.url">
        <input type="text" class="form-control commentSelect" placeholder="Tags that describe the related article" aria-describedby="basic-addon1" ng-model="comment.source.tags">
        <button type="submit" class="btn btn-default btn-custom">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container documentContainer">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src="{{website}}"></iframe>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
    {{ article }} -->
  </div>
</div>