<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/articles">Articles</a></li>
        <li class="active"><a href="#/graph">Network<span class="sr-only">(current)</span></a></li>
        <li><a href="#/users/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup">Sign Up</a></li>
        <li><a href="#/signin">Sign In</a></li>
        <li><a href="#/signin">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container instructions">
  <h4>The size of the nodes represent the popularity of the articles</h4>
  <h4>You can click on a node to highlight its connections and right-click on it to view the article</h4>
</div>
<div class="container dThreeContainer">
  <div class="container">
    <div class="col-lg-4">
      <div class="input-group ui-widget"> 
        <span class="input-group-addon" id="basic-addon1">Topic</span>
        <input id="search" type="text" class="form-control" placeholder="Search by Tag" aria-describedby="basic-addon1">
        <span class="input-group-btn">
          <button type="submit" id="click" class="btn btn-default btn-custom btn-no-margin">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="legend">
      <div class="col-lg-4">
        <h5>Controversy (low to high)</h5>
        <div class="ctrLegend"></div>
      </div>
      <div class="col-lg-4">
        <h5>Supporting Connection</h5>
        <h5 class="supportingConnection">____</h5>
      </div>
      <div class="col-lg-4">
        <h5>Undermining Connection</h5>
        <h5 class="underminingConnection">____</h5>
      </div>
    </div>
  </div>