<div class="container">

  <div class="subcontainer">
    <nav class="navigation">
      <ul>
        <li>
          <a class="selected" href="#/articles">Articles</a>
        </li>
        <li>
          <a href="#/signin">Sign In</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="subcontainer">
    <div class="signup">
      <h1>signup</h1>
      <form name="signupForm" ng-submit="signup()">
        <input type="text" placeholder="Username" ng-model="user.username">
        <input type="password" placeholder="Password" ng-model="user.password">
        <input type="text" placeholder="Interests" ng-model="user.interests">
        <input type="text" placeholder="Picture Url" ng-model="user.picture">
        <input type="text" placeholder="Email" ng-model="user.email">
        <button>signup</button>
      </form>
    </div>
  </div>

</div>