<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/articles">Articles <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signin">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container bgImage">
  <div class="container signup">
    <form class="input-group" name="signupForm" ng-submit="signup()">
      <input type="text" class="form-control signupInput" placeholder="Username" aria-describedby="basic-addon1" ng-model="user.username">
      <input type="password" class="form-control signupInput" placeholder="Password" aria-describedby="basic-addon1" ng-model="user.password">
      <input type="text" class="form-control signupInput" placeholder="Interests" aria-describedby="basic-addon1" ng-model="user.interests">
      <input type="text" class="form-control signupInput" placeholder="Profile Picture (paste url)" aria-describedby="basic-addon1" ng-model="user.picture">
      <input type="text" class="form-control signupInput" placeholder="Email" aria-describedby="basic-addon1" ng-model="user.email">
      <button type="submit" class="btn btn-default btn-custom">signup</button>
    </form>
  </div>
</div>