<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/articles">Articles</a></li>
        <li class="active"><a href="#/users/profile">Profile<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/articles">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container profileContainer">
  <div class="media">
  <div class="media-body">
    <h1 class="media-heading">{{ user.username }}</h1>
    <h3 class="media-heading">Interests</h3>
    <h4 class="interests"> {{ user.interests }}</h4> <!-- ng-repeat -->
    <h4 class="email"> {{ user.email }} </h4> <!-- make it a link -->
  </div>
  <div class="media-right">
    <a href="#">
      <img class="picture media-object" src="{{ user.picture }}" alt="">
    </a>
  </div>
  </div>

  <div class="panel panel-default form">
    <div class="panel-heading">Add an Article</div>
    <div class="panel-body">
      <form class="input-group uploadArticle" name="uploadArticleForm" ng-submit="uploadArticle()">
        <input type="text" class="form-control profileInput" placeholder="Article's url" aria-describedby="basic-addon1" ng-model="article.url">
        <input type="text" class="form-control profileInput" placeholder="Tags that describe the article" aria-describedby="basic-addon1" ng-model="article.tags">
        <button type="submit" class="btn btn-default btn-custom">Add</button>
      </form>
    </div>
  </div>
</div>

<div class="container profileArticlesContainer">
  <div class="panel panel-default">
    <div class="panel-heading">Your list of Articles</div>
    <div class="panel-body">
      <h5>You can filter your articles by topic or journal</h5>
      <h5>You can filter the ones that you have added and/or commented</h5>
      <h5>You can sort the articles by date, their popularity and how controversial they are</h5>
      <h5>Rows are highlighted when your opinion shows dissonance with consensus among the community<h5>
      <h5>The font is green when the article is supported, red when it is undermined<h5>
      <div class="input-group"> 
        <span class="input-group-addon" id="basic-addon1">Topic</span>
        <input type="text" class="form-control try" placeholder="Search by Tag" aria-describedby="basic-addon1" ng-model="search.tags">
        <span class="input-group-addon" id="basic-addon1">Source</span>
        <input type="text" class="form-control" placeholder="Search by Journal" aria-describedby="basic-addon1" ng-model="search.journal">
        <span class="input-group-addon">Added
          <input type="checkbox" aria-label="uploaded articles" ng-click="includeUploaded()">
        </span>
        <span class="input-group-addon">Commented 
          <input type="checkbox" aria-label="commented articles" ng-click="includeCommented()">
        </span>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <tr>
      <th><a href="" ng-click="order('date')">Date</a></th>
      <th>Source</th>
      <th>Tags</th>
      <!-- <th>Uploaded</th>
      <th>Commented</th> -->
      <th><a href="" ng-click="order('-popularityIdx')">Popularity</a></th>
      <th><a href="" ng-click="order('-controversy.idx')">Controversy</a></th>
      <!-- <th><a href="" ng-click="order('-controversy.valence')">Valence</a></th> -->
      <!-- <th><a href="" ng-click="order('-userValence')">Your Opinion</a></th> -->
      <!-- <th><a href="" ng-click="order('-dissonance')">Dissonance</a></th> -->
    </tr>

    <tr ng-repeat="article in userArticles | filter:search:strict" ng-class="{dissonance: article.dissonance, supported: article.controversy.valence === 1, undermined: article.controversy.valence === -1}">
      <td>{{ article.date }}</td>
      <td><a ng-href="#/document/{{article._id}}">{{ article.journal }}</a></td>
      <td>{{ article.tags }}</td>
      <!-- <td>{{ article.uploaded }}</td>
      <td>{{ article.commented }}</td> -->
      <td>{{ article.popularityIdx }}</td>
      <td>{{ article.controversy.idx }}</td>
      <!-- <td>{{ article.controversy.valence }}</td> -->
      <!-- <td>{{ article.userValence }}</td> -->
      <!-- <td>{{ article.dissonance }}</td> -->
    </tr>
  </table>
</div>
