<div class="container">

  <div class="subcontainer">
    <nav class="navigation">
      <ul>
        <li>
          <a class="selected" href="#/articles">Articles</a>
        </li>
        <li>
          <a href="#/users/profile">Profile</a>
        </li>
        <li>
          <a href="#/signin">Sign In</a>
        </li>
        <li>
          <a href="#/signup">Sign Up</a>
        </li>
        <li>
          <a href="#/articles">Logout</a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="subcontainer">
    <div class="profileInfo">
      <img class="picture" ng-src="{{ user.picture }}">
      <p class="username"> Username: {{ user.username }} </p>
      <p class="email"> Email: {{ user.email }} </p> <!-- make it a link -->
      <p>Interests: {{ user.interests }}</p> <!-- ng-repeat -->
      <!-- <div class="interests" ng-repeat="(interest, interests) in user.interests">
        <p class="interest"> {{ interest }} </p>
      </div> -->
    </div>
  <div>    

  <div class="subcontainer">
    <div class="uploadArticle">
      <form name="uploadArticleForm" ng-submit='addArticle()'>
        <input type="text" placeholder="Url" ng-model='article.url'>
        <input type="text" placeholder="Tags" ng-model='article.tags'>
        <button>Upload Article</button>
      </form>
    </div>
  </div>

  <div class="subcontainer">

    <h1>Articles</h1>
    <!-- add default chronological order -->
    <label>Tags: <input ng-model='search.tags'>
    </label><br>
    <label>Popularity: <input ng-model='search.popularityIdx'>
    </label><br>
    <label>Controversial: <input ng-model='search.controversyIdx'>
    </label><br>
    <label>Date: <input ng-model='search.date'>
    </label><br>
    
    <table class="profileArticlesTable">
      <tr>
        <th>Date</th>
        <th>Tags</th>
        <th>Popularity</th>
        <th>Controversial</th>
        <th>Link</th>
      </tr>
      <tr ng-repeat='article in articlesInfo | filter:search:strict'>
        <td>{{ article.date }}</td>
        <td>{{ article.tags }}</td>
        <td>{{ article.popularityIdx }}</td>
        <td>{{ article.controversyIdx }}</td>
        <td><a href="#/articles">View Article</a></td> <!-- make links -->
      </tr>
    </table>

  </div>

</div>