<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/articles">Articles</a></li>
        <li class="active"><a href="#/users/profile">Profile <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/articles">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="media profileInfo">
  <div class="media-body">
    <h4 class="media-heading">Info</h4>
    <p class="username"> Username: {{ user.username }} </p>
    <p class="email"> Email: {{ user.email }} </p> <!-- make it a link -->
    <p>Interests: {{ user.interests }}</p> <!-- ng-repeat -->
  </div>
  <div class="media-right">
    <a href="#">
      <img class="picture media-object" src="{{ user.picture }}" alt="">
    </a>
  </div>
  </div>
</div>

<div class="container">
  <form class="input-group uploadArticle" name="uploadArticleForm" ng-submit="uploadArticle()">
    <input type="text" class="form-control" placeholder="Url" aria-describedby="basic-addon1" ng-model="article.url">
    <input type="text" class="form-control" placeholder="Tags" aria-describedby="basic-addon1" ng-model="article.tags">
    <button type="submit" class="btn btn-default">Upload Article</button>
  </form>
</div>

<div class="container">
  <div class="input-group"> 
    <span class="input-group-addon" id="basic-addon1">Tags</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="search.tags">
    <span class="input-group-addon" id="basic-addon1">Source</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="search.journal">
    <span class="input-group-addon">Uploaded 
      <input type="checkbox" aria-label="uploaded articles" ng-click="includeUploaded()">
    </span>
    <span class="input-group-addon">Commented 
      <input type="checkbox" aria-label="commented articles" ng-click="includeCommented()">
    </span>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Articles</div>
    <table class="table profileArticlesTable">
      <tr>
        <th><a href="" ng-click="order('date')">Date</a></th>
        <th>Source</th>
        <th>Tags</th>
        <!-- <th>Uploaded</th>
        <th>Commented</th> -->
        <th><a href="" ng-click="order('-popularityIdx')">Popularity</a></th>
        <th><a href="" ng-click="order('-controversy.idx')">Controversy</a></th>
        <!-- <th><a href="" ng-click="order('-controversy.valence')">Valence</a></th>
        <th><a href="" ng-click="order('-userValence')">Your Opinion</a></th> -->
        <th><a href="" ng-click="order('-dissonance')">Dissonance</a></th>
      </tr>

      <tr ng-repeat="article in userArticles | filter:search:strict">
        <td>{{ article.date }}</td>
        <td><a ng-href="#/document/{{article._id}}">{{ article.journal }}</a></td>
        <td>{{ article.tags }}</td>
        <!-- <td>{{ article.uploaded }}</td>
        <td>{{ article.commented }}</td> -->
        <td>{{ article.popularityIdx }}</td>
        <td>{{ article.controversy.idx }}</td>
        <!-- <td>{{ article.controversy.valence }}</td>
        <td>{{ article.userValence }}</td> -->
        <td>{{ article.dissonance }}</td>
      </tr>
    </table>
  </div>
</div>